text {
  pointer-events:none;
}

.para{
    color:white;
    font-family: times;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
}

.sc{
  display: flex;
  flex: 1;
  flex-direction: column;
}

#experiment1 {
  width: 100%;
  height: 100%;
}
 
#experiment{
  width: 100%;
  height: 100%;
}

#circuit-board2 {
  width: 100%;
  height: 100%;
}

#working-area2 {
  border:.2rem solid #97d23d;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  background-color: white;
}

#result {
  width: 70%;
  height: 5%;
  background-color: black;
}

.container {
}

.column {
  text-align: center;
}

#circuit-board {
  width: 100%;
  height: 100%;
}

#working-area {
  width: 100%;
  height: 100%;
  background-color: black;
}

/* for dropping instruction box  */

.instructions-box {
  max-height: 70px;
  overflow: hidden;
  transition: all .5s ease;
}

.instructions-box.expand {
  max-height: 400px;
}

.v-instruction-container {
  border:.2rem solid #97d23d;
  justify-content: flex-start;
}

.speed-box{
  border:1px solid black;
  color:black;
  background-color:white;
  text-align:center;
  font-size:1.0rem;
  border-radius:1em;
  padding:.5em 1.0em;
  cursor:pointer;
}